<ion-content fullscreen>
  <div class="hero">
    <!-- Botón de idioma dentro de la hero -->
    <div class="lang-switcher">
      <button
        [class.active]="langService.lang === 'es'"
        (click)="switchLang('es')"
      >
        ES
      </button>
      <button
        [class.active]="langService.lang === 'en'"
        (click)="switchLang('en')"
      >
        EN
      </button>
    </div>
    

    <!-- Imagen de fondo -->
    <img class="hero-image desktop" src="assets/images/logo1.png" alt="Portada escritorio" />
    <img class="hero-image mobile" src="assets/images/logo2.png" alt="Portada móvil" />

    <!-- Texto y contenido -->
    <div class="hero-overlay">
      <div class="coming-container">
        <p>{{ t('preparing') }}</p>
        <h2>{{ t('comingSoon') }}</h2>

        <div class="social-links">
          <a href="https://youtube.com/@WarriorPandaStudio" target="_blank" aria-label="YouTube">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
          <a href="https://twitter.com/WarriorPandaSt" target="_blank" aria-label="Twitter / X">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a href="mailto:warriorpandastudio@gmail.com" aria-label="Email">
            <ion-icon name="mail-outline"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
